extends ../layouts/application.pug

block header
  = t('views.users.new.signUp')

block content
  +formFor()(action=route('users') method='post')
    +input(user, 'firstName', t('form.firstName'), errors)(type="text")
    +input(user, 'lastName', t('form.lastName'), errors)(type="text")
    +input(user, 'email', t('form.email'), errors)(type="text")
    +input(user, 'password', t('form.password'), errors)(type="password")
    +submit(user)(value=t('views.users.new.submit'))
