extends ../layouts/application.pug

block content
  +formFor()(action=route('statusCreate') method='post')
    +input(status, 'name', t('views.statuses.name'),errors, false)(type="text")
    +submit(t('views.actions.submit'), false)